
.Footer {
    width: 100%;
    margin-top: 2rem;
    background-color: rgb(215, 201, 201);
    
}

.Footer_box {
    width: 80%;
    margin: auto;
    padding: 0rem 0;
    text-align: center;
    
}

.Footer_box_icons{
    width: fit-content;
    margin: auto;
    
    
}

.Footer_box_icon {
    margin: 2rem;
    font-size: 1rem;
    color: rgb(53, 49, 49);
    border-bottom: solid 2px rgb(8, 7, 7);
}